# dependencies
node_modules/

# build output
dist/
build/
coverage/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
logs/

# editor / os
.idea/
.vscode/
.DS_Store

# misc
*.pem
